@using System.Web.Optimization

<div class="well">
    <div class="row">

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" id="categoryName" class="form-control" placeholder="Add Category">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="addCategory()">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>

<table id="example" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>Category Id</th>
            <th>Category Name</th>
            <th>Brands</th>
            <th>Items</th>
        </tr>
    </thead>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/bootstrapdatatables")
@Styles.Render("~/styles/bootstrapdatatables")
<script>

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    var table;
    $(document).ready(function () {

        table = $('#example').DataTable({
            responsive: true,
            ajax: {
                "url": "/Category/GetAllCategories",
                "dataSrc": ""
            },
            columns: [
                 { data: "CategoryId", visible: false },
                 { data: "CategoryName" },
                 {
                     mRender: function (data, type, row) {
                         return "<div class=''>Brands</div>";
                     }
                 },
                 {
                     mRender: function (data, type, row) {
                         return "<div class=''>Items</div>";
                     }
                 }
            ]
        });
        new $.fn.dataTable.FixedHeader(table);

    });


    $("#categoryName").change(function () {
        console.log("changed");
    })
    function addCategory() {

        if ($("#categoryName").val() == "")
        {
            alert("enter a category");
            return;
        }
        var item = _.find(table.rows().data(), function (val) {
            return val.CategoryName.toLocaleLowerCase() == $("#categoryName").val().toLocaleLowerCase();
        });
        if (item != null || item != undefined) {
            toastr.error("Category already exists. Please use search option");
            return;
        }
        $.post("/Category/Insert", { name: $("#categoryName").val() }, function (msg) {
            toastr.info(msg);
            table.ajax.reload();
        })
    }
</script>